.story-container {
  cursor: pointer;
  width: 100%;
  position: relative;
  overflow-x: auto;
  height: calc(100% - 30px);
}

.story-text {
  white-space: pre-wrap; /* Preserve line breaks */
  font-size: 16px; /* Match the font size */
  padding-right: 10px;
  padding-top: 0px;
  color: black;
  line-height: 1.2;
}

.editable-text-container {
  display: flex;
  align-items: flex-start;
  min-height: 60px;
  right: 6px;
  width: 100%;
  position: relative;
  top: 20px;
  overflow: visible;
}

.editable-text {
  flex-grow: 1;
  position: relative;
  right: 8px;
  overflow: visible;
}

.edit-menu-toggle {
  margin-left: 0px;
  z-index: 14;
}

.edit-menu-toggle button {
  background: none;
  position: relative;
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.edit-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  gap: 0px;
  margin-left: 0px;
  overflow: visible;
  background-color: #e3e1d9;
  z-index: 15;
}

.edit-menu button {
  background: none;
  position: relative;
  width: 100%;
  left: 4px;
  border: none;
  margin-top: -6px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  background-color: #e3e1d9;
  clip-path: polygon(15% 15%, 85% 15%, 85% 85%, 15% 85%);
}

.function {
  position: relative;
  padding: 6px;
  border: 2px solid #ccc;
  width: max-content;
  margin-top: 8px;
  background-color: transparent;
  font-size: 16px;
  border-radius: 2px;
  color: black;
  right: 8px;
}

.function-container {
  display: flex;
  align-items: flex-start;
  right: 6px;
  width: calc(100% + 5px);
  position: relative;
  margin-bottom: 0px;
}

.bold-underline {
  font-weight: bold;
  text-decoration: underline;
  color: rgb(0, 131, 0);
}

.quill-editor-container {
  min-height: 100px;
  z-index: 10;
  line-height: 1;
  z-index: 300;
  border: 2px dashed black;
  width: 100%;
  box-sizing: border-box;
  overflow: visible;
}

.ql-bubble .ql-editor {
  max-height: 100%;
}

.quill-editor-container h1 {
  font-size: 2rem;
}

.quill-editor-container h2 {
  font-size: 2rem;
}

.chart-container {
  display: flex;
  align-items: flex-start;
  right: 6px;
  width: calc(100% + 24px);
  position: relative;
  margin-bottom: 0px;
}

.chart {
  flex-grow: 1;
  position: relative;
  height: 400px;
  width: calc(100% - 8px);
  right: 18px;
}

.table-container {
  display: flex;
  align-items: flex-start;
  right: 6px;
  width: calc(100% + 24px);
  position: relative;
  margin-bottom: 0px;
  overflow: auto;
}

.small-table-wrapper {
  width: 100%;
  position: relative;
  right: 8px;
  margin-bottom: 0;
  overflow: auto;
}

.table-wrapper {
  width: fit-content;
  position: relative;
  right: 8px;
  margin-bottom: 0;
  overflow: auto;
}

.expandButton {
  display: block;
  width: 100%;
  padding: 1px;
  margin: 0;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  border-radius: 0;
  position: relative; /* Absolute positioning */
  bottom: 0; /* Stick to the bottom of the small-table-wrapper */
  left: 0;
  right: 0;
}

.expandButton:hover {
  background-color: #d0d0d0;
}

.btn-circle {
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  margin-bottom: 40px;
  margin-left: 40px;
  padding: 5px 10px;
  font-size: 20px;
  text-align: center;
}

.story-card {
  z-index: 1000;
  position: absolute;
  bottom: 80px;
  left: 40px;
  width: 400px;
  background-color: #f0f8ff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.custom-card-background {
  background-color: var(--light) !important;
}
