:root {
  --brushing-color: #FFC200;
}

/* Add spacing to the button container */
.history-sidebar .button-container {
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.5rem;
}

.vis-custom-time {
  background-color: var(--brushing-color) !important;
}

::selection {
  background-color: var(--brushing-color);
}