:root {
  --brushing-color: #FFC200;
}

/* Add spacing to the button container */
.history-sidebar .button-container {
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.5rem;
}

.vis-custom-time {
  background-color: var(--brushing-color) !important;
}

::selection {
  background-color: var(--brushing-color);
}

.history-entry{
  margin-left: 0px !important;
  padding-left: 75px !important;
  border-radius: 10px !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}

.history-entry-head{
  border-radius: 10px !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}