:root {
  --brushing-color: #FFC200;
  --brushing-bg-color: #FFEB99;
}

/* Add spacing to the button container */
.history-sidebar .button-container {
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.5rem;
}

.vis-custom-time {
  background-color: var(--brushing-color) !important;
  width: 5px !important;
}

.brushed-word {
  background-color: var(--brushing-color);
}

.brushed {
  box-shadow: inset 0 -2px 0 0 var(--brushing-color), inset -2px 0 0 0 var(--brushing-color), inset 0 2px 0 0 var(--brushing-color), inset 2px 0 0 0 var(--brushing-color) !important;
}

.brushed.bg-warning {
  background-color: #f3d53e4a !important;
}

.brushing {
  cursor: url('/brush.svg') 6 30, auto;
}

.query-element {
  border-style: solid;
  border-width: 1px;
  border-color: var(--brushing-color);
  background-color: #FFEB99;
  padding: 2px 6px;
  border-radius: 4px;
  font-size:small;
  white-space: nowrap;
}

.history-entry{
  margin-left: 0px !important;
  padding-left: 75px !important;
  border-radius: 10px !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}

.history-entry-head{
  border-radius: 10px !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}

.history-selected {
  background-color: white !important;
}