:root {
  --primary: #7b5f4d;
  --primary-light: #a1887f;
  --primary-dark: #563d38;
  --secondary: #656d4a;
  --secondary-light: #909a6e;
  --secondary-dark: #404a29;
  --body-bg: #eae7dc;
  --body-color: #2e2e2e;
  --light: #f7f6f2;
  --dark: #4a4a4a;
  --text-muted: #8d6e63;
  --text-disabled: #a1887f;
  --info: #467791;
  --success: #5a7a5a;
  --warning: #cc8a00;
  --danger: #a53939;
  --border-color: #d7ccc8;
  --active-bg: #4e342e; /* New variable for active background color */
  --active-color: #ffffff; /* New variable for active text color */
}

#root {
  width: 100%;
  height: 100%;
  max-width: none;
  background-color: white;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  background-color: white;
  color: black;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 20px;
}

.container {
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.container h1 {
  position: relative;
  background-color: #e3e1d9;
  padding: 10px;
  margin: 0;
  top: 0px;
  margin-right: 75px;
  font-family: "Inter", sans-serif;
}

.top-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 10px;
  padding: 10px;
  margin-right: 95px;
  background-color: var(--body-bg);
  position: relative;
  color: var(--body-color);
}

.save-button-container {
  display: flex;
  align-items: center;
  right: 10px;
  position: relative;
}

.undo-redo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(calc(-50% - 118px));
}

.menu-bar-container {
  display: flex;
  width: 100%;
  margin-right: 10px;
  position: relative;
  overflow: visible;
}

.menu-bar {
  display: flex;
  flex: 1;
  top: 0;
  background: #d9d9d9;
  min-height: 70px;
  margin-right: 115px;
  position: relative;
  overflow-x: auto;
  overflow: visible;
  z-index: 100;
}

.sidebar-menu-bar {
  width: 45%;
  background: #d9d9d9;
  min-height: 70px;
  right: 95px;
  position: relative;
  overflow-x: auto;
}

.content-area {
  display: flex;
  flex: 1;
  flex-direction: row;
  position: relative;
  right: 95px;
  left: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.table-content-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.sidebar-content-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 45%;
  height: 100%;
  right: 95px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 75;
}

.handsontable-container {
  flex: 1;
  margin-right: 65px !important;
  left: -38px;
  width: calc(50vw - 100px) !important;
  height: calc(100vh - 41);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 50;
}

.table-content-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.sidebar {
  flex-grow: 1;
  padding-left: 0px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e3e1d9;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 75;
  font-family: "Inter", sans-serif;
  overflow-y: auto;
}

.hot-table-wrapper {
  flex: 1;
  overflow: hidden;
}

.small-table-wrapper {
  overflow: auto;
  display: flex;
  width: 100%;
  height: 100%;
}

.handsontable THEAD TH.green-header {
  background: rgb(174, 216, 174);
  z-index: 50;
}

.handsontable THEAD TH.green-header.ht__highlight {
  background: rgb(120, 159, 120) !important;
  z-index: 50;
}

.shift-right {
  margin-left: 20px;
}

.main-sidebar-container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  width: 100%; /* Adjust width to match previous sidebar width */
  height: 100%;
  background-color: #e3e1d9; /* Match the sidebar background color */
  z-index: 55;
}

.text-and-menu-container {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  width: 100%; /* Adjust width to match previous sidebar width */
  height: 100%;
  background-color: #e3e1d9; /* Match the sidebar background color */
  z-index: 55;
}

.rectangle {
  width: 20px;
  height: 370px; /* Make it as tall as the menu bar */
  background-color: white;
  right: 95px;
  position: absolute; /* Position it absolutely within the container */
  z-index: 999; /* Ensure it appears above other elements */
}

.page-footer {
  display: flex;
  height: 41px;
  width: calc(50vw - 127px);
  align-items: center;
  padding: 0px;
  background-color: var(--primary);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.page-footer .nav-button {
  margin: 0px;
  padding: 10px 20px;
  background-color: var(--light);
  border-color: var(--dark);
  color: var(--dark);
  border: none;
  cursor: pointer;
  border-radius: 0px;
  font-size: 18px;
}

.page-footer .nav-button:hover {
  background-color: var(--primary-light);
}

.page-footer .nav-button.active {
  background-color: var(--primary);
  color: var(--light);
}

.page-footer .nav-button:disabled {
  cursor: not-allowed;
}

.empty-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 24px;
  color: #555;
}

.editable-textarea {
  width: calc(100% - 2px);
  font-size: 26px;
  margin: 1px;
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 0px;
  resize: none;
  border: none;
  box-sizing: border-box;
  line-height: 26px;
  line-height: 1.5;
  color: black;
  text-align: center;
  font-weight: bold;
}
