#root {
  width: 100%;
  max-width: none;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.container h1 {
  background-color: #E3E1D9; /* Setting the background color */
  padding: 10px; /* Optional: adding some padding for visual space */
  margin-top: 0; /* Optional: adjusting the top margin */
  margin-bottom: 0px; /* Optional: adjusting the bottom margin to separate from content below */
  margin-right: 75px;
  font-family: 'Inter', sans-serif;
}

.content-area {
  display: flex;
  width: 100%;
  box-sizing: border-box; 
}

.handsontable-container {
  flex: 1; 
  margin-right: 40px; 
  margin-left: 55px; 
  overflow: hidden;
  position: relative;
  right: 55px;
}

.sidebar {
  width: 45%; 
  flex-shrink: 0; 
  right: 75px;
  padding: 20px;
  background-color: #E3E1D9;
  height: auto; 
  box-sizing: border-box;
  position: relative; 
  z-index: 1;
  font-family: 'Inter', sans-serif;
}